#list-lagu{
  margin: 0 auto;
  padding-bottom: 5vw;
  border-collapse: collapse;
}

#list-lagu tr th {
    color: #b3b3b3;
    font-size: 12px;
    font-weight:100;
    letter-spacing: 1px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:left;
    border-bottom: 1px solid #b3b3b3;
    line-height: 1em;
}

#list-lagu tr td img{
    width : 50px;
    margin:0;
    padding:0;
}

#list-lagu tr td {
    color : #b3b3b3;
}

#list-lagu tr .judul-lagu a {
  color: white;
  width: 20vw;
  text-align:left;
  float:left;
  padding-left:0px;
  padding-bottom:10px;
  text-decoration: none; 
}

#list-lagu tr .tahun-terbit{
  width:20vw;
}

#list-lagu tr .genre{
  width:25vw;
}

#list-lagu tr td .penyanyi{
  font-size: 14px;
  padding-bottom: 10px;
}

.list-lagu-item:hover {
  transition: 0.3s;
  background-color: #414141cf;
}

.tabel-lagu-img {
  padding: 14px 16px 14px 0px !important;
}